body {
	background-color: #F3F3F3;
	font-family: Helvetica;
    color: #000000;
	margin: 0;
}

h1{
	font-size: 40px;
	text-align: center;
}

h2{
	font-size: 25px;
	color: #000000;
	text-align: center;
}

h3{
	font-size: 20px;
	color: #000000;
}

main{
  font-size: 15px;
  text-align: left;
  padding-left: 30px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
	border: 1px solid #000000;
}

td, th {
    padding: 5px;
}

th {
	font-size: 18px;
}