body {
	background-color: #333;
	font-family: "helvetica neue",helvetica,verdana,arial,tahoma,"sans serif";
	font-weight: 200;
    color: #fff;
	margin: 0;
}

h1, h2, h3 {
	font-family:"helvetica neue",helvetica,verdana,arial,tahoma,"sans serif";
	margin:7px;
	font-weight: 200;
	color:#fff;
}

h1 {
	font-size:2.5em;
 	font-weight: 100;
	text-align: center;
}

h2 {
	font-size:1.8em;
 	font-weight: 100;
 	margin-top:1em;
 	color:#99ccff;
	text-align: center;
}

h3 {
	font-size:1.4em;
	font-weight: 100;
 	margin-top:1em;
 	margin-bottom:0.5em;
 	letter-spacing: 0.01em;
 	color:#99ccff;
}

h4, a {
	font-size:1.1em;
 	font-weight: 100;
	text-align: center;
}

a:link, a:visited {
	color: #fff;
}

.centred, #mobile {
	text-align: center
}

main {
  font-size: 1em;
  font-weight: 100;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
	border: 1px solid #f3f3f3;
	font-weight: 100;
}

td, th {
    padding: 5px;
}

th {
	font-size: 1.1em;
	font-weight: 200;
	color: #99ccff;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #mobile { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) {
  #mobile { display: none; }   /* hide it elsewhere */
}
